.activityContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.activityTypeCard {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    background: rgb(248, 245, 192);
    border: 1px solid #0a0466;
    border-radius: 5px;
}

.statsTypeCard {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    background: #FACEDF;
    border: 1px solid #0a0466;
    border-radius: 5px;
}