.activityDetailContainer {
  margin: 1em;
  /* background-color: rgb(198, 248, 192); */
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.activityDetailList {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  background: rgba(248, 245, 192, 0.827);
  border: 1px solid #0a0466;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  /* font-size: 14px; */
}

.delete {
  padding: 10px;
  background-color: #FACEDF;
  border: 1px solid #0a0466;
  background-color: 250ms;
  border-radius: 5px;
  box-shadow: 1px 2px #0a0466;
}
